html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    background-color: #EEEEEE;
}


.scrollbar-none::-webkit-scrollbar {
    inline-size: 0rem;
    background-color: transparent;
}

.scrollbar-none::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-none::-webkit-scrollbar-thumb {
    border: 0 none transparent;
    background-color: transparent;
}


/* reviews swiper  */
.partners-swiper .swiper-wrapper,
.workflow-details-swiper .reviews-swiper .swiper-wrapper {
    align-items: stretch;
    user-select: none;
}

.partners-swiper .swiper-slide,
.workflow-details-swiper .swiper-slide,
.reviews-swiper .swiper-slide {
    height: auto;
    display: flex;
}

/* gettingstarted-swiper */
.gettingstarted-swiper {
    user-select: none;
}


.swiper-button-disabled {
    color: #A0A0A0 !important;
}

/* только для мобилки */
@media (max-width: 39.9375rem) {

    .accordion-group {
        position: relative;
    }

    .accordion-group::after {
        content: "";
        position: absolute;
        left: 0rem;
        right: 0rem;
        bottom: 0rem;

        height: 0rem;
        background: white;
        /* 
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem; */

        z-index: 0;
    }

    .accordion-group:last-child::after {
        display: none;
    }

}

/* .accordion .accordion-group:last-child .accordion-mobile{
    @apply pb-[1.5625rem];
} */

@layer components {

    /* Пример кастомного блока */
    .my-container {
        width: 100%;
        max-inline-size: 120rem;
        min-inline-size: 20rem;
        margin-inline: auto;
        padding-inline: 0.625rem;
    }

    .nop-container {
        width: 100%;
        max-inline-size: 120rem;
        min-inline-size: 20rem;
        margin-inline: auto;
        padding-inline: 0;
    }

    @media (min-width: 30rem) {
        .my-container {
            padding-inline: 0.9375rem;
        }

    }

    @media (min-width: 40rem) {
        .my-container {
            padding-inline: 1.25rem;
        }

    }

    @media (min-width: 48rem) {
        .my-container {
            padding-inline: 1.875rem;
        }

    }

    @media (min-width: 64rem) {
        .my-container {
            padding-inline: 1.875rem;
        }

    }

    @media (min-width: 80rem) {
        .my-container {
            padding-inline: 6.25rem;
        }

    }

    @media (min-width: 96rem) {
        .my-container {
            padding-inline: 9.375rem;
        }

        .my-container.my-container--reviews {
            padding-inline: 0;
        }

    }

    @media (min-width: 117.5rem) {
        .my-container {
            padding-inline: 10rem;
        }

        .my-container.my-container--reviews {
            padding-inline: 10rem;
        }

    }
}

/*-----------------------------------------
Header glass-nav
------------------------------------------*/
@layer components {
    .glass {
        position: relative;

        /* основа стекла */
        background: linear-gradient(360deg,
                rgba(255, 255, 255, 0.12) 0%,
                rgba(255, 255, 255, 0.02) 100%);

        border-radius: 2.5rem;
        overflow: hidden;

        /* свет и глубина */
        box-shadow:
            inset 0 0.0625rem 0 rgba(255, 255, 255, 0.15),
            inset 0 -0.0625rem 0 rgba(255, 255, 255, 0.08),
            0 0.625rem 1.875rem rgba(0, 0, 0, 0.25);
    }

    .glass::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: inherit;

        /* верхний блик */
        background: linear-gradient(360deg,
                rgba(255, 255, 255, 0.18) 0%,
                rgba(255, 255, 255, 0.08) 30%,
                transparent 60%);

        opacity: 0.6;
    }

    .glass::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: inherit;

        /* лёгкая глубина */
        background: radial-gradient(circle at 50% 0%,
                rgba(255, 255, 255, 0.15),
                transparent 60%);

        opacity: 0.4;
    }

    .cover-gradient {
        background: linear-gradient(180deg, #111114 0%, #102a2f 150%);
    }

    /* foo black */

    .foo-underline {
        position: relative;
        padding-bottom: 0.125rem;
    }

    @media(min-width:117.5rem) {
        .foo-underline {
            padding-bottom: 0.3125rem;
        }
    }

    .foo-underline::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.0625rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 1);
        transition: border-color 0.3s ease-in-out;
    }

    .foo-underline:hover::after {
        border-bottom-color: rgba(0, 0, 0, 0.35);
    }

    /* foo white */

    .fow-underline {
        position: relative;
        padding-bottom: 0.125rem;
    }

    @media(min-width:117.5rem) {
        .fow-underline {
            padding-bottom: 0.3125rem;
        }
    }

    .fow-underline::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.0625rem;
        border-bottom: 0.0625rem solid rgba(255, 255, 255, 1);
        transition: border-color 0.3s ease-in-out;
    }

    .fow-underline:hover::after {
        border-bottom-color: rgba(255, 255, 255, 0.35);
    }
}

.btn-desk {
    background-image: url("/images/webp/btn-desk.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-mob {
    background-image: url("/images/webp/btn-mob.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}